<template>
    <div>
        <div class="mm-font" v-if="pay_message" v-html="pay_message"></div>
    </div>
</template>

<script>
    import {mapState} from 'vuex';

    export default {
        name: "NotiFail",
        computed: {
            ...mapState(['pay_message'])
        }
    }
</script>

<style scoped>

</style>
