<template>
    <h5>This is example</h5>
</template>

<script>
    export default {
        name: "example",
        mounted() {
            console.log(this.$route.query)
        }
    }
</script>

<style scoped>

</style>
