<template>
    <div>

        <div class="alert alert-danger" v-for="error in errors">
            {{ error }}
        </div>

        <label for="">Phone Number</label>

        <input type="number" class="form-control" v-model="phone" @input="resetError"
               style="width: 100% !important;" placeholder="Enter Your Phone Number"/>

        <hr>

        <confirm :phone="phone"/>

    </div>
</template>

<script>

    import confirm from "../confirm";

    export default {
        name: "One",
        components: {
            confirm: confirm
        },
        data() {
            return {
                phone: '',
                errors: [],
                pay_data: this.$attrs
            }
        },
        mounted() {
            delete this.pay_data.payment_method
            this.$store.dispatch('setAppData', this.pay_data);
            this.$store.dispatch('setPayment', 'aya');
        },
        methods: {
            resetError: function () {
                this.errors = [];
            }
        }
    }
</script>

<style scoped>

</style>
