<template>
    <div>
        <button class="btn btn-success " @click="startPayment">
            <span class="mm-font"> {{ pay_btn }}</span>
        </button>

<!--        <div v-if="setVisible">-->
<!--            <a :href="staticLink">Click</a>-->
<!--        </div>-->

        <!--        <button class="btn btn-danger mm-font" @click="goBack">-->
        <!--            {{ back_btn }}-->
        <!--        </button>-->
    </div>


</template>

<script>
    import {mapState} from "vuex";
    import api_request from "../../../helpers/api";

    export default {
        name: "kbz",
        data() {
            return {
                pay_data: this.$attrs,
                setVisible: false,
                staticLink: ''
            }
        },
        mounted() {
            this.overlay = true;
            delete this.pay_data.payment_method
            this.$store.dispatch('setAppData', this.pay_data);
            this.$store.dispatch('setPayment', 'kbz');
            this.getConfirmMessage()
        },
        computed: {
            ...mapState(['app_data', 'payment_method'])
        },
        methods: {
            goBack: function () {
                this.$store.dispatch('setConfirmMessage', '')
                this.$store.dispatch('setPayment', '')
                this.$router.go(-1);
            },
            getConfirmMessage: function () {
                let url = window.app_url + 'confirm_message/kbz'
                axios.get(url).then((resp) => {
                    this.$store.dispatch('setConfirmMessage', resp.data.message)
                    this.overlay = false
                });
            },
            startPayment: function () {
                this.overlay = true;
                let post_data = {};
                post_data = Object.assign(post_data, this.app_data);
                post_data.payment_method = this.payment_method;

                let url = window.app_url + 'pay/confirm';

                api_request(url, post_data).then((resp) => {
                    // this.overlay = false;
                    let {url, status} = resp.data;
                    if (status === 1) {
                        // this.setVisible = true;
                        // this.staticLink = url;
                        setTimeout(function () {
                            document.location.href = url;
                        }, 250);
                        // window.open(resp.data.url)
                    } else {
                        this.$store.dispatch('setConfirmMessage', 'Something Went Wrong!')
                    }
                }).catch((err) => {
                    this.$store.dispatch('setConfirmMessage', err.message)
                });
            }
        }
    }
</script>

<style scoped>

</style>
