<template>

    <div>
        <button class="btn btn-success mm-font" @click="startPay">
            {{ pay_btn }}
        </button>
        <button class="btn btn-danger mm-font" @click="goBack">
            {{ back_btn }}
        </button>
    </div>

</template>

<script>

    import {mapState} from "vuex";
    import api_request from "../../helpers/api";

    export default {
        name: "CheckSuccess",
        computed: {
            ...mapState(['app_data', 'payment_method'])
        },
        mounted() {
            this.overlay = false;
        },
        methods: {
            goBack: function () {
                this.$store.dispatch('setConfirmMessage', '')
                this.overlay = true
                this.$router.go(-1);
                this.$store.dispatch('setPayment', '')
            },
            startPay: function () {
                let post_data = {};

                this.overlay = true;

                post_data = Object.assign(post_data, this.app_data);

                let url = window.app_url + 'pay/confirm';

                api_request(url, post_data).then((resp) => {
                    this.overlay = false;

                    let {status, message} = resp.data;

                    if (status === 1) {

                        this.$store.dispatch('setPayMessage', message);
                        this.$store.dispatch('setConfirmMessage', '');

                        this.$router.push('notisuccess');

                    }

                });
            },
        }
    }
</script>

<style scoped>

</style>
