<template>
    <div>

        <button class="btn btn-success" @click="startPay">
            Ok
        </button>
        <button class="btn btn-danger" @click="goBack">
            Cancel
        </button>

    </div>


</template>

<script>

    import {NEED_CHECK} from "../../constant";
    import api_request from "../../helpers/api";
    import {mapState} from 'vuex';

    export default {
        name: "confirm",
        computed: {
            ...mapState(['app_data', 'payment_method'])
        },
        props: ['phone'],
        mounted() {
            this.overlay = false;
        },
        methods: {
            goBack: function () {
                this.$store.dispatch('setPayment', '')
                this.$store.dispatch('setConfirmMessage', '')
                this.overlay = true
                this.$router.go(-1);
            },
            startPay: function () {

                if (/^ *$/.test(this.phone)) {
                    this.$parent.errors = [];
                    this.$parent.errors.push('Phone Number is Required');
                    return
                }

                this.needToCheck();

            },
            needToCheck: function () {

                this.overlay = true;

                let post_data = {};

                post_data = Object.assign(post_data, this.app_data);
                post_data.payment_method = this.payment_method;
                post_data.phone = this.phone

                let url = window.app_url + 'payment';

                api_request(url, post_data).then((resp) => {
                    let {status, error_msg} = resp.data;
                    if (status === 0) {
                        this.$parent.errors = [];
                        this.$parent.errors.push(error_msg)
                        this.overlay = false

                    } else if (status === 1) {

                        this.$store.dispatch('setConfirmMessage', resp.data.data.payment_confirm_message);

                        delete resp.data.data.payment_confirm_message;

                        this.$store.dispatch('setAppData', resp.data.data);

                        this.$router.push('checksuccess');


                    }
                }).catch((err) => {
                    this.$store.dispatch('setConfirmMessage', err.message);
                    this.overlay = false;

                })

            }
        }

    }
</script>

<style scoped>

</style>
