<template>
    <div v-if="confirm_message">
        <hr>
        <!--        <h5 >{{ confirm_message }}</h5>-->

            <div v-html="confirm_message" style="line-height: 25px"></div>

        <hr>
    </div>

</template>

<script>
    import {mapState} from 'vuex'

    export default {
        name: "confirm_message",
        data() {
            return {
                show: false,

            }
        },
        computed: {
            ...mapState(['confirm_message'])
        },
        mounted() {

        },

    }
</script>

<style scoped>

</style>
