<template>

    <div>
        <hr>

        <h5 class="mm-font">ငွေပေးချေရန်ရွေးချယ်ပါ</h5>

        <hr>

        <v-card>
            <v-card-text class="mt-6 pr-6">

                <v-simple-table>
                    <template v-slot:default>
                        <tbody>

                        <tr v-for="payment in JSON.parse(payment_method)" :key="payment"
                            @click="startPay(payment)">
                            <td style="width: 100px !important;">
                                <v-img :src="getImage(payment)" alt="" :aspect-ratio="1/1" height="100%"/>
                            </td>
                            <td class="eng_font">{{ changeFormat(payment) }}</td>

                        </tr>
                        </tbody>
                    </template>
                </v-simple-table>


            </v-card-text>


        </v-card>
    </div>

</template>


<script>
    import {changePayFormat} from '../../helpers/common'

    export default {
        props: ['payment_method', 'app', 'trans_id', 'amount'],
        data() {
            return {
                pay_data: {
                    amount: this.amount,
                    app: this.app,
                    trans_id: this.trans_id,
                    payment_method: this.payment_method,
                },
                confirm_message: ''
            }

        },

        mounted() {

            this.overlay = false;

            delete this.pay_data.payment_method
            this.$store.dispatch('setAppData', this.pay_data);
        },
        methods: {
            getImage: function (payment) {
                return '../image/' + payment + '_pay.png';
            },
            startPay: function (pay) {
                this.overlay = true;
                this.$store.dispatch('setPayment', pay);
                this.$router.push(pay)
            },
            changeFormat: function (payment) {
                return changePayFormat(payment)
            }
        }
    }
</script>

<style>
    >>> .v-data-table td {
        font-size: .875rem;
        height: 100px;
        width: 100px;
    }
</style>
