<template>
    <div v-if="payment_method">
        <hr>
        <h4 class="mt-3 eng_font">Payment - {{ changeFormat() }}</h4>
    </div>
</template>

<script>
    import {mapState} from 'vuex'
    import {changePayFormat} from '../../helpers/common'

    export default {
        name: "payment_format",
        computed: {
            ...mapState(['payment_method'])
        },
        methods: {
            changeFormat: function () {
                return changePayFormat(this.payment_method)
            }
        }
    }
</script>

<style scoped>

</style>
